## Getting Time Series Data

In [1]:
#!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.54.tar.gz (19 kB)
Requirement already satisfied: pandas>=0.24 in c:\users\sys\anaconda3\lib\site-packages (from yfinance) (1.0.5)
Requirement already satisfied: numpy>=1.15 in c:\users\sys\anaconda3\lib\site-packages (from yfinance) (1.18.1)
Requirement already satisfied: requests>=2.20 in c:\users\sys\anaconda3\lib\site-packages (from yfinance) (2.24.0)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Requirement already satisfied: pytz>=2017.2 in c:\users\sys\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\sys\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\sys\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\sys\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sys\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2019.11.28)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\sys\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: six>=1.5 in c:\users\sys\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.14.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py): started
  Building wheel for yfinance (setup.py): finished with status 'done'
  Created wheel for yfinance: filename=yfinance-0.1.54-py2.py3-none-any.whl size=22415 sha256=04d057b2ca19f3af9e53f757a6ad5ef325da05e9dd66888b1cc4906409cd47c5
  Stored in directory: c:\users\sys\appdata\local\pip\cache\wheels\28\79\3c\08a301b673366fe664fe2853e136eb2acc1bb752045c11c6a1
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8374 sha256=0331a4dc623c26997884bbe47d89413d810da38088289a7de6419c4f3c3ae71f
  Stored in directory: c:\users\sys\appdata\local\pip\cache\wheels\ae\25\47\4d68431a7ec1b6c4b5233365934b74c1d4e665bf5f968d363a
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.54

In [1]:
import yfinance as yf

In [12]:
df = yf.download('FB',start='2019-01-01', end='2019-12-31', progress=False)

In [13]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-12-31,134.449997,134.639999,129.949997,131.089996,131.089996,24625300
2019-01-02,128.990005,137.509995,128.559998,135.679993,135.679993,28146200
2019-01-03,134.690002,137.169998,131.119995,131.740005,131.740005,22717900
2019-01-04,134.009995,138.000000,133.750000,137.949997,137.949997,29002100
2019-01-07,137.559998,138.869995,135.910004,138.050003,138.050003,20089300

In [2]:
data = yf.download('AMZN',start='2019-01-01', end='2019-12-31', progress=False)

In [3]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-12-31,1510.800049,1520.760010,1487.000000,1501.969971,1501.969971,6954500
2019-01-02,1465.199951,1553.359985,1460.930054,1539.130005,1539.130005,7983100
2019-01-03,1520.010010,1538.000000,1497.109985,1500.280029,1500.280029,6975600
2019-01-04,1530.000000,1594.000000,1518.310059,1575.390015,1575.390015,9182600
2019-01-07,1602.310059,1634.560059,1589.189941,1629.510010,1629.510010,7993200