In [7]:
#!pip install yfinance

In [8]:
import yfinance as yf

## Amazon Time Series data

In [12]:

data = yf.download('AMZN',start='2019-01-01', end='2019-12-31')

[*********************100%***********************]  1 of 1 completed

In [13]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-02 00:00:00-05:00,73.260002,77.667999,73.046501,76.956497,76.956497,159662000
2019-01-03 00:00:00-05:00,76.000504,76.900002,74.855499,75.014000,75.014000,139512000
2019-01-04 00:00:00-05:00,76.500000,79.699997,75.915497,78.769501,78.769501,183652000
2019-01-07 00:00:00-05:00,80.115501,81.727997,79.459503,81.475502,81.475502,159864000
2019-01-08 00:00:00-05:00,83.234497,83.830498,80.830498,82.829002,82.829002,177628000